---
layout: default
title: Research
---

<section class="space-y-12">
  <header class="space-y-3">
    <h1 class="text-4xl font-semibold tracking-tight">Research</h1>
    <p class="text-slate-950">
      Selected research projects spanning
      <a class="highlighted-text">genomics</a>, <a class="highlighted-text">epigenetics</a> and <a class="highlighted-text">biochemistry</a>.
    </p>
  </header>

  {% for item in site.data.research %}
    <article class="card space-y-4 border border-emerald-100 bg-emerald-50 rounded-md px-4 py-2">
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline gap-2 ">
        <h2 class="text-lg font-bold research-title text-teal-800">{{ item.title }}</h2>
        <span class="text-sm text-slate-500">{{ item.year }}</span>
      </div>

      <p class="text-sm text-slate-500">
        {{ item.role }} · {{ item.advisor }}
      </p>

      <p class="text-slate-600">
        {{ item.summary }}
      </p>

      {% if item.methods %}
        <div>
          <h3 class="text-sm font-medium text-slate-700">Methods</h3>
          <ul class="mt-2 flex flex-wrap gap-2">
            {% for m in item.methods %}
              <li class="text-xs rounded-md bg-purple-100 px-2 py-1 text-purple-700">
                {{ m }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      {% if item.highlights %}
        <ul class="mt-2 list-disc list-inside text-sm text-slate-600">
          {% for h in item.highlights %}
            <li>{{ h }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if item.poster %}
        <div class="text-base font-medium text-slate-700">
          <a href="{{ item.poster[0]}}" class="text-purple-700" target="_blank" rel="noopener noreferrer">View poster</a>
        </div>
      {% endif %}

    </article>
  {% endfor %}

  <h2 class="text-2xl font-semibold">
    Lab Memories!
  </h2>
  <div class="flex flex-col items-center gap-8">
    <div class="text-center">
      <img src="/assets/images/trivia-winners.PNG" alt="Winning the Summer Research Trivia" class="rounded-lg shadow-lg mx-auto" />
      <p class="text-sm text-slate-950 mt-2">
        Winning the Summer Research Trivia with the DTS Lab, Summer 2025!
      </p>
    </div>
    <div class="text-center">
      <img src="/assets/images/abrcms2025.jpg" alt="At ABRCMS 2025 Conference" class="rounded-lg shadow-lg mx-auto" />
      <p class="text-sm text-slate-950 mt-2">
        DTS Lab at ABRCMS 2025 in San Antonio, TX! (ft. Dr. Wessner)
      </p>
    </div>
  </div>
</section>
