<header 
class="site-header sticky top-0 z-50 backdrop-blur">
  <nav class="max-w-5xl mx-auto px-6 py-4 flex items-center justify-between">
    <a href="/" class="flex items-center gap-2 hover:opacity-80">
        <img
        src="/assets/icons/RW logo.svg"
        alt="Ruilin Wu logo"
        class="block h-15 w-15"
        />

      <span class="font-semibold text-teal-900 tracking-tight text-3xl">
        Ryan Wu
      </span>
    </a>


    <div class="flex items-center gap-5 text-base font-semibold text-teal-900">
      <a class="rounded-md px-2 py-1" href="/about/">About</a>
      <a class="rounded-md px-2 py-1" href="/research/">Research</a>
      <a class="rounded-md px-2 py-1" href="/projects/">Projects</a>
      <a class="rounded-md px-2 py-1" href="/resume/">Resume</a>
      <a class=" rounded-md px-2 py-1" href="/contact/">Leave a message!</a>
    </div>
  </nav>
</header>
