<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title}}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/index.min.js"></script>
    <script src="js/contact-form.js"></script> -->
</head>

<body class="text-slate-900 antialiased">
    {% include nav.html %}

    <main class=" bg-white/80 max-w-5xl mx-auto px-6 py-14 prose prose-slate">
        <div class="leading-relaxed">
            {{ content }}
        </div>
    </main>

    <footer class="border-t border-slate-100">
        <div class="max-w-5xl mx-auto px-6 py-8 text-sm text-slate-500">
            © {{ site.time | date: "%Y" }} Ruilin Wu. All rights reserved.
            <a class="underline hover:text-slate-700" href="mailto:rywu@davidson.edu">rywu@davidson.edu</a>
        </div>
    </footer>
</body>
</html>